body {
    background-color: #050505;
    position: relative;
    color: aliceblue;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #ffffff, #f7f8ff, #ecf3ff, #deeeff, #cdeaff, #c1eafd, #b6eafa, #abeaf4, #abedeb, #b0efe0, #baefd4, #c8efc9);
    /*
    background-image: linear-gradient(to right bottom, #000000, #000000, #000000, #000000, #000000, #1e1214, #351c1e, #4d2626, #824130, #b1662e, #d49422, #e5ca10);
    */
    filter: blur(5px);
    z-index: -1;
}

.titulo_univer {

    font-size: 2vw;
    margin-bottom: 5px;
    margin-top: 0;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 3.5vw;
    margin-bottom: 0;
    margin-top: 5%;
}

.actualizacion {
    width: 100%;
    text-align: center;
    background-color: #e5ca10;
}

.body_principal {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: #05050561;
    -webkit-box-shadow: 0px 50px 84px 20px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 50px 84px 20px rgba(0,0,0,0.9);
    box-shadow: 0px 50px 84px 20px rgba(0,0,0,0.9);
}

.datos_personales {
    margin-top: 5%;
    text-align: center;

}

.contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 1%;
    margin-right: 10px;
    
}

.img_contacto {
    width: 45px;
    height: 45px;
    background-color: #fffdf5;
    border-radius: 35%;
    padding: 5px;
}

.tecnologias h2 {
    text-align: center;
    margin-bottom: 10px;
}

.contenedor_tecs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
    padding: 15px;
}

.contenedor_tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #1e121415;
    border-radius: 15px;
    -webkit-box-shadow: 11px 11px 41px -6px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 11px 11px 41px -6px rgba(0, 0, 0, 0.53);
    box-shadow: 11px 11px 41px -6px rgba(0, 0, 0, 0.53);

}

.contenedor_tecnologias img {
    width: 75px;
    height: 75px;

}

.contenido_datos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 1%;
    
}

.descripcion_datos_personales {
    font-size: 1.5vw;
    margin-bottom: 0;
    margin-top: 5px;
    align-self: center;
    text-align: justify;

}

.texto_datos {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.texto_datos h3,
h4 {
    margin: 0;
    padding: 0;

}

h2 {
    text-align: center;
}

#img_perfil {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 35%;
    }



.mas_sobre_mi {
    background-color: aquamarine;
    margin-bottom: 5%;
}


.a_experiencia {
    color: aliceblue;
    text-decoration: none;
}

.contenido_laboral {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
    padding: 15px;
}



.contenido_experiencia {

    height: auto;
    width: 100vw;
    padding: 15px;
    margin-bottom: 1%;
    -webkit-box-shadow: 11px 11px 41px -6px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 11px 11px 41px -6px rgba(0, 0, 0, 0.53);
    box-shadow: 11px 11px 41px -6px rgba(0, 0, 0, 0.53);

}



.descripcion_experiencia {
    font-size: 1vw;
    flex-grow: 1;
}

.titulo_experiencia {
    color: #e5ca10;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 0;
    align-self: flex-start;
}


.fecha_experiencia {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 5px;
    align-self: flex-end;
}

.lugar_experiencia {
    color: #e5ca10;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    align-self: flex-end;
}

.experiencia_laboral h2 {
    text-align: center;
}

.contenido_proyectos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 5px;
    background-color: #1e121481;
}

.contenido_texto_proyectos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2%;
    padding: 15px;

    margin: 0;
}

.img_proyectos {
    width: 45%;
    height: auto;
    padding: 5px;

}

.a_proyectos {
    color: #4d2626;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    width: auto;
    max-width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fffdf5;
    padding: 10px;
    border-radius: 10px;
}

.descripcion_proyecto {
    font-size: 1vw;
    margin-bottom: 15px;
}

.github_proyectos {
    width: 25px;
    height: 25px;
}

.tecnologias_proyectos img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.tecnologias_proyectos h6 {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 1.5vw;
}

@media (max-width: 768px) {
    .titulo_univer {
        font-size: 4.5vw;
        margin-bottom: 5px;
        margin-top: 0;
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 6.5vw;
        margin-bottom: 0;
        margin-top: 0;
    }

    .texto_datos {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .descripcion_datos_personales {
        font-size: 2.75vw;
        margin-bottom: 0;
        margin-top: 5px;
        align-self: center;
        text-align: justify;

    }

    .contacto {
        width: 100%;
        justify-content: center;
        gap: 50px;
        
    }

    .contacto a:nth-child(1),
    .contacto a:nth-child(2),
    .contacto a:nth-child(3) {
        order: 1;
    }

    .contacto a:nth-child(4),
    .contacto a:nth-child(5) {
        order: 2;
    }


    .contenido_experiencia {
        flex: 1 1 100%;
        max-width: 100%;
        height: auto;
    }

    .descripcion_experiencia {
        font-size: 2vh;
        flex-grow: 1;
    }

    .contenido_datos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .contenido_proyectos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2%;
        padding: 15px;
    }
    .contenido_proyectos:nth-child(even) {
        flex-direction:column-reverse; /* Imagen a la derecha, texto a la izquierda */
    }
    .a_proyectos {
        color: #4d2626;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 5px;
        width: 95%;
        max-width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: #fffdf5;
        padding: 5px;
        border-radius: 10px;
    }

    .tecnologias_proyectos h6 {
        margin-bottom: 5px;
    }

    .descripcion_proyecto {
        font-size: 3vw;
    }

    .github_proyectos {
        width: 25px;
        height: 25px;
    }

    .tecnologias_proyectos img {
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
        margin-top: 0;
    }

    .img_proyectos {
        width: 98%;
        height: auto;
        margin: auto;
        padding: 1%;
    }

    .contenedor_tecs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
}