body {
    background-image: linear-gradient(to right bottom, #000000, #000000, #000000, #000000, #000000, #1e1214, #351c1e, #4d2626, #824130, #b1662e, #d49422, #e5ca10);
    color: aliceblue;
    max-width: 100%;
    overflow-x: hidden;
}

.actualizacion {
    width: 100%;
    text-align: center;
    background-color: #e5ca10;
}

.body_principal {
    margin: auto;
    display: flex;
    flex-direction: column;

    width: 85vw;
    height: 100%;
    border-radius: 15px;
    margin-top: 5%;

}

.datos_personales {
    margin-top: 5%;
    text-align: center;

}

.contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 1%;
    margin-right: 10px;
}

.img_contacto {
    width: 45px;
    height: 45px;
    background-color: #fffdf5;
    box-shadow: -7px -5px 12px -4px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: -7px -5px 12px -4px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: -7px -5px 12px -4px rgba(0, 0, 0, 0.75) inset;
    border-radius: 35%;
    padding: 5px;

}

.tecnologias h2 {
    text-align: center;
    margin-bottom: 10px;
}

.contenedor_tecs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
    padding: 15px;
}

.contenedor_tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 15px;
}

.contenedor_tecnologias img {
    width: 50px;
    height: 50px;

}

.contenido_datos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 1%;
}

.descripcion_datos_personales {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 5px;
    align-self: center;
    text-align: justify;

}

.texto_datos {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.texto_datos h3,
h4 {
    margin: 0;
    padding: 0;

}

h2 {
    text-align: center;
}

#img_perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.proyectos {
    background-color: brown;
}

.mas_sobre_mi {
    background-color: aquamarine;
    margin-bottom: 5%;
}

.experiencia_laboral {}

.a_experiencia {
    color: aliceblue;
    text-decoration: none;
}

.contenido_laboral {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2%;
    padding: 15px;
}

#impar {
    border-color: #e5ca10;
}

.contenido_experiencia {
    background-color: #1e1214;
    height: auto;
    width: 100vw;
    border: 5px solid;
    border-radius: 15px;
    border-color: #b1662e;
    padding: 15px;
    margin-bottom: 2%;
}

h1 {
    text-align: center;
}

.descripcion_experiencia {
    font-size: 1vw;
    flex-grow: 1;
}

.titulo_experiencia {
    color: #e5ca10;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 0;
    align-self: flex-start;
}


.fecha_experiencia {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 5px;
    align-self: flex-end;
}

.lugar_experiencia {
    color: #e5ca10;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    align-self: flex-end;
}

.experiencia_laboral h2 {
    text-align: center;
}

@media (max-width: 768px) {

    .texto_datos {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .contenido_experiencia {
        flex: 1 1 100%;
        max-width: 100%;
        height: auto;
    }

    .descripcion_experiencia {
        font-size: 2vh;
        flex-grow: 1;
    }

    .contenido_datos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}